footer {
  background-color: var(--gray-50);
  color: var(--gray-500);
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: var(--footer-height);
  padding: 2rem 4rem;
}

#footer .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#footer .column h5 {
  color: var(--red-500);
  font-weight: 700;
}

#footer #nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  font-size: 14px;
}

#footer #info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 500px) {
  footer {
    height: 100%;
    gap: 2rem;
    padding: 1rem 2rem;
  }

  section {
    width: 100%;
  }

  #footer ul {
    flex-direction: row;
  }
}
