<section class="column" id="about">
    <div class="flex justify-center align-center gap-1">
        <img id="logo-image" src="./images/logo.png" alt="Vinil.br">
        <h1>Vinil.br</h1>
    </div>
    <div class="flex flex-column justify-center align-center">
        <p>A loja de vinis totalmente brasileira</p>
    </div>
</section>
<section class="column" id="navigation">
    <h5>Navegação</h5>
    <ul id="nav-links">
        <li>
            <a href="sobre">Sobre</a>
        </li>
        <li>
            <a href="termos-de-uso">Termos de uso</a>
        </li>
        <li>
            <a href="politica-de-privacidade">Política de privacidade</a>
        </li>
    </ul>
</section>
<section class="column">
    <h5>Formas de pagamento</h5>
    <ul class="flex gap-1">
        <li title="Visa">
            <i class="fab fa-cc-visa"></i>
        </li>
        <li title="Mastercard">
            <i class="fab fa-cc-mastercard"></i>
        </li>
        <li title="Paypal">
            <i class="fab fa-cc-paypal"></i>
        </li>
        <li title="Boleto">
            <i class="fas fa-barcode"></i>
        </li>
    </ul>
</section>
<section class="column" id="help">
    <h5>Ajuda</h5>
    <ul id="nav-links">
        <li>
            <a href="faq">FAQ</a>
        </li>
        <li>
            <a href="contato">Contato</a>
        </li>
    </ul>
</section>
<section class="column">
    <h5>Mais informações</h5>
    <div id="info">
        <span>CPNJ: 12.345.678/0001-90</span>
        <span>Inscrição Estadual: 123.456.789.000</span>
        <span>Rua dos Vinis, 123, Bairro Musical, Cidade da Música, SP</span>
        <span>E-mail: atendimento@vinil.br</span>
    </div>
</section>