<section class="column" id="about">
    <div class="flex justify-center align-center gap-1">
        <img id="logo-image" src="./images/logo.png" alt="Vinil.br">
        <h1>Vinil.br</h1>
    </div>
    <p>A loja de vinis totalmente brasileira</p>
    <div class="social-icons" id="social-links">
        <!-- Social links will be populated by JavaScript -->
    </div>
</section>
<section class="column" id="navigation">
    <h5>Navegação</h5>
    <ul id="nav-links">
        <li>
            <a href="sobre">Sobre</a>
        </li>
        <li>
            <a href="termos-de-uso">Termos de uso</a>
        </li>
        <li>
            <a href="politica-de-privacidade">Política de privacidade</a>
        </li>
    </ul>
</section>
<section class="column" id="popular">
    <h5>Mais acessados</h5>
    <ul id="popular-links">
        <!-- Popular links will be populated by JavaScript -->
    </ul>
</section>
<section class="column" id="help">
    <h5>Ajuda</h5>
    <ul id="nav-links">
        <li>
            <a href="faq">FAQ</a>
        </li>
        <li>
            <a href="contato">Contato</a>
        </li>
    </ul>
</section>
<section class="column newsletter">
    <h5>Fique por dentro de promoções</h5>
    <p>Informe seu e-mail para receber promoções e novidades</p>
    <form id="newsletter-form">
        <input type="email" placeholder="E-mail" required maxlength="50">
    </form>
    <button class="primary">Inscrever-se</button>
</section>