button {
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    transition: transform 0.1s;
}

button.primary {
    background-color: var(--red-500);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button:hover {
    filter: brightness(0.9);
}

button:active {
    filter: brightness(0.8);
}