hr {
  border: 4px solid var(--red-500);
  border-radius: 48px;
  width: 80px;
  position: relative;
  overflow: visible;
  margin: 0;
}

hr:before {
  position: absolute;
  left: 110%;
  width: 24px;
  content: "";
  height: 8px;
  background: var(--red-500);
  border-radius: 48px;
  top: -4px;
}
