<div id="header-container">
    <div class=" flex align-center gap-1">
        <img id="logo-image" src="./images/logo.png" alt="Vinil.br">
        <h1>Vinil.br</h1>
    </div>
    <nav>
        <ul class="flex justify-around">
            <li><a href="login">Início</a></li>
            <li><a href="/login.html">Contato</a></li>
            <li>
                <div class="search-bar">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Busque por artistas, gêneros e mais">
                </div>
            </li>
        </ul>
    </nav>

    <ul class="flex gap-1" id="auth-container">
        <li>
            <i class="fas fa-user"></i>
            <a href="/login.html">Entrar</a>
        </li>
        <li>
            <i class="fas fa-shopping-cart"></i>
            <a href="/register.html">Carrinho</a>
        </li>
    </ul>
</div>