#heading {
  height: calc(100vh - var(--header-height));
  background-image: url(../../images/background.jpeg);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#heading {
  h2 {
    color: var(--black-50);
  }
  h4 {
    font-weight: 400;
    color: var(--black-50);
  }
}

#categories, #featured {
  margin: 0 1rem;
}

#genre-container-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 90vw;
  justify-content: space-between;
  gap: 0.1rem;
}

#genre-container {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.arrow-button {
  background-color: #ccc;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

#scroll-left, #scroll-right {
  padding: 0.6rem 0.8rem;
}

.arrow-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#vinyl-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  grid-auto-columns: 1fr;
}

#category-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.available {
  position: absolute;
  background-color: var(--green-500);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  top: 2rem;
  right: 2rem;
}

@media (max-width: 1340px) {
  #vinyl-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  #vinyl-container {
    grid-template-columns: repeat(1, 1fr);
  }
}